//src="mailspring://open-tracking/assets/icon-composer-eye@2x.png"

img[src="mailspring://open-tracking/assets/icon-composer-eye@2x.png"] {
    -webkit-mask-image: url("mailspring://breeze-light/icons/24-eye.svg") !important;
    zoom: 1.2 !important;
    margin:0  !important;
    padding:0  !important;
    border:0  !important;
    height: 24px !important;
    width: 24px !important;
  }

  img[  alt="icon-composer-sendlater.png"] {
    //-webkit-mask-image: url("mailspring://breeze-light/icons/16-sent.svg"),  
    -webkit-mask-image: url("mailspring://breeze-light/icons/chronometer.svg") !important;
    zoom: 1.2 !important;
    margin:0  !important;
    padding:0  !important;
    border:0  !important;
    height: 24px !important;
    width: 24px !important;
  }

