//src="mailspring://open-tracking/assets/icon-composer-eye@2x.png"

@import 'variables';


// Changing the icons at the bottom of the "New mail" panels
// I found no way to identify the div containing the img of the buttons, but I can use
// directly the name of the resource, hoping that it does not change (i.e. the "@2x" is it
// alway there, or it depends on the screen resolution?)
// This works ok, but there are some alignment issue, between the icons and w.r.t the small handle
// associated with some of them. I try to hammer them in place


img[src="mailspring://open-tracking/assets/icon-composer-eye@1x.png"] {
    -webkit-mask-image: url("@{iconurl}24-eye.svg") !important;
    zoom: 1.2 !important;
    margin:0  !important;
    padding:0  !important;
    border:0  !important;
    height: 24px !important;
    width: 24px !important;
  }
  img[src="mailspring://open-tracking/assets/icon-composer-eye@2x.png"] {
    -webkit-mask-image: url("@{iconurl}24-eye.svg") !important;
    zoom: 1.2 !important;
    margin:0  !important;
    padding:0  !important;
    border:0  !important;
    height: 24px !important;
    width: 24px !important;
  }

  img[  alt="icon-composer-sendlater.png"] {
    //-webkit-mask-image: url("@{iconurl}16-sent.svg"),  
    -webkit-mask-image: url("@{iconurl}24-chronometer.svg") !important;
    zoom: 1.2 !important;
    margin:0  !important;
    padding:0  !important;
    border:0  !important;
    height: 24px !important;
    width: 24px !important;
  }

  img[src="images/composer/icon-composer-linktracking@1x.png"] {
    -webkit-mask-image: url("@{iconurl}24-link.svg") !important;
    zoom: 1.2 !important;
    margin:0  !important;
    padding:0  !important;
    border:0  !important;
    height: 24px !important;
    width: 24px !important;
  }
  img[src="images/composer/icon-composer-linktracking@2x.png"] {
  -webkit-mask-image: url("@{iconurl}24-link.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}

img[src="mailspring://composer-templates/assets/icon-composer-templates@1x.png"] {
  -webkit-mask-image: url("@{iconurl}24-template.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}img[src="mailspring://composer-templates/assets/icon-composer-templates@2x.png"] {
  -webkit-mask-image: url("@{iconurl}24-template.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}

img[src="images/composer/icon-composer-reminders@1x.png"] {
  -webkit-mask-image: url("@{iconurl}24-bell.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}
img[src="images/composer/icon-composer-reminders@2x.png"] {
  -webkit-mask-image: url("@{iconurl}24-bell.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}

img[src="mailspring://translation/assets/icon-composer-translate@1x.png"] {
  -webkit-mask-image: url("@{iconurl}24-translate.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}img[src="mailspring://translation/assets/icon-composer-translate@2x.png"] {
  -webkit-mask-image: url("@{iconurl}24-translate.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}

img[src="images/composer/icon-composer-attachment@1x.png"] {
  -webkit-mask-image: url("@{iconurl}24-mail-attachment.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}
img[src="images/composer/icon-composer-attachment@2x.png"] {
  -webkit-mask-image: url("@{iconurl}24-mail-attachment.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}

img[src="images/composer/icon-composer-trash@1x.png"] {
  -webkit-mask-image: url("@{iconurl}24-user-trash.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}
img[src="images/composer/icon-composer-trash@2x.png"] {
  -webkit-mask-image: url("@{iconurl}24-user-trash.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}


img[src="images/composer/top-signature-dropdown@1x.png"] {
  -webkit-mask-image: url("@{iconurl}24-signature.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}
img[src="images/composer/top-signature-dropdown@2x.png"] {
  -webkit-mask-image: url("@{iconurl}24-signature.svg") !important;
  zoom: 1.2 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}


// Set a different color for enabled/disable functions
// (only tested on link tracking, because I run out of the others while testing)
.composer-inner-wrap .composer-action-bar-wrap .btn.btn-toolbar:not(.btn-enabled){
  img.content-mask {
    background-color:@accent-dark !important;
  }
  &:hover{
    img.content-mask {
      background-color:@black !important;
    }
  }
}

.composer-inner-wrap .composer-action-bar-wrap .btn-enabled{
  img.content-mask {
    background-color: @breeze-blue !important;
  }
  &:hover{
    img.content-mask {
      background-color:@breeze-blue-darker !important;
    }  
  }
}

// The icond in the "Send" button
img[alt="icon-composer-send.png"] {
  -webkit-mask-image: url("@{iconurl}16-mail-sent.svg") !important;
  zoom: 1.0 !important;
  //margin:0  !important;
  //padding:0  !important;
  //border:0  !important;
  height: 16px !important;
  width: 16px !important;
}


img[src="images/reply-dropdown/ic-dropdown-reply@1x.png"] {
  -webkit-mask-image: url("@{iconurl}16-reply.svg") !important;
  zoom: 1.0 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 16px !important;
  width: 16px !important;
}
img[src="images/reply-dropdown/ic-dropdown-reply@2x.png"] {
  -webkit-mask-image: url("@{iconurl}16-reply.svg") !important;
  zoom: 1.0 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 16px !important;
  width: 16px !important;
}
img[src="images/reply-dropdown/ic-dropdown-replyall@1x.png"] {
  -webkit-mask-image: url("@{iconurl}16-reply-all.svg") !important;
  zoom: 1.0 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 16px !important;
  width: 16px !important;
}
img[src="images/reply-dropdown/ic-dropdown-replyall@2x.png"] {
  -webkit-mask-image: url("@{iconurl}16-reply-all.svg") !important;
  zoom: 1.0 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 16px !important;
  width: 16px !important;
}
img[src="images/reply-dropdown/ic-dropdown-forward@1x.png"] {
  -webkit-mask-image: url("@{iconurl}16-forward.svg") !important;
  zoom: 1.0 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 16px !important;
  width: 16px !important;
}
img[src="images/reply-dropdown/ic-dropdown-forward@2x.png"] {
  -webkit-mask-image: url("@{iconurl}16-forward.svg") !important;
  zoom: 1.0 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 16px !important;
  width: 16px !important;
}



// The icon that appears next to the subject of a sent email when tracking is active
img[src="mailspring://open-tracking/assets/InMessage-opened@1x.png"] {
  -webkit-mask-image: url("@{iconurl}24-eye.svg") !important;
  zoom: 1.0 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}
img[src="mailspring://open-tracking/assets/InMessage-opened@2x.png"] {
  -webkit-mask-image: url("@{iconurl}24-eye.svg") !important;
  zoom: 1.0 !important;
  margin:0  !important;
  padding:0  !important;
  border:0  !important;
  height: 24px !important;
  width: 24px !important;
}
