@import 'variables';

.header-container {
  margin-right: 10px;
}

/**
 * Buttons
 */
.btn-toolbar,
.token,
.actions > .btn,
.new-package > .btn,
.appearance-mode-switch > .btn {
  box-shadow: none !important;
  background: @panel-background !important;
  //background: @accent-light !important;
  border: 0;
  border-color: @white !important;
  border-radius: @base-border-radius !important;
//  &.item-compose {
//    border: 1px solid @accent-breeze;
//  }
}

.composer-action-bar-content {
  .btn-toolbar {
    border: 0 !important;
    background: transparent !important;
  }
}

body.platform-linux .sheet-toolbar-container {
    background: @panel-background !important;
}

body.platform-win32 {
  .sheet-toolbar-container {
    background: @panel-background !important;
    .btn-toolbar {
      border: 0 !important;
    }
  }
}

//div:not(.layout-mode-popout) {
  .sheet-toolbar {

      // Button in the bar that appears when you select a Draft. 
      // There is also another button "Clear Selection" but I do not know how to identify it
      .btn.btn-toolbar{
        border: 1px solid !important;
        border-color: @panel-background!important;      
        &:hover {
          border: 1px solid;
          border-color: @breeze-blue !important;
        }        
      }
      .btn.btn-toolbar[title="Delete"] {
        img {
          content: url("@{iconurl}24-user-trash.svg");
        }
        border: 1px solid !important;
        border-color: @panel-background!important;      
        &:hover {
          border: 1px solid;
          border-color: @breeze-blue !important;
        }
      }
      // The bar that appears when you select a draft
      .selection-bar .absolute .inner{
        background: @panel-background !important;
      }      


    .toolbar-RootSidebar {
      img {
        zoom: 1 !important;
        -webkit-mask-image: none !important;
        -webkit-mask-repeat: none !important;
        mask-image: none !important;
        mask-repeat: none !important;
        object-position: 0 !important;
        background: none !important;

        // New properties to be set for the images.
        height: 24px;
        background-size: auto !important;
      }
      .toolbar-activity {
        img {
          height: 24px;
          margin-top: 6px;
          content: url("@{iconurl}24-earthquake.svg");
          border: 1px solid !important;
          border-radius: @base-border-radius;
          border-color: @panel-background!important;      
          &:hover {
            border: 1px solid;
            border-color: @breeze-blue !important;
          }
          }
      }

      // Compose button properties.
      .btn.btn-toolbar.item-compose {
        img {
          content: url("@{iconurl}24-mail-message-new.svg");
        }
        border: 1px solid !important;
        border-color: @panel-background!important;      
        &:hover {
          border: 1px solid;
          border-color: @breeze-blue !important;
        }
      }      
    }
    .toolbar-MessageList,
    .toolbar-MessageListSidebar,
    .toolbar-DraftList,
    .toolbar-ActivityContent,
    .toolbar-Preferences{
      // Over-ride previously set image properties.
      img {
        zoom: 1 !important;
        -webkit-mask-image: none !important;
        -webkit-mask-repeat: none !important;
        mask-image: none !important;
        mask-repeat: none !important;
        object-position: 0 !important;
        background: none !important;

        // New properties to be set for the images.
        height: 24px;
        background-size: auto !important;
      }

      // Upper right corner cog.
      .toolbar-menu-control {
        img {
          content: url("@{iconurl}24-settings.svg");
        } }

      // Upper right corner users.
      .mode-toggle {
        img {
          content: url("@{iconurl}24-im-user-busy.svg");
        }
        border: 1px solid !important;
        border-color: @panel-background!important;      
        &:hover {
          border: 1px solid;
          border-color: @breeze-blue !important;
        }
      }      

       .message-toolbar-items {
        .thread-sharing-button {
          img {
            content: url("@{iconurl}24-document-share.svg");
          } }
        .send-reminders-toolbar-button {
          img {
            content: url("@{iconurl}24-bell.svg");
          } }
        .snooze-button {
          img {
            content: url("@{iconurl}24-chronometer.svg");
          } }

        // add hover effect to all "standard" buttons
        .btn{
          border: 1px solid !important;
          border-color: @panel-background!important;      
          &:hover {
            border: 1px solid;
            border-color: @breeze-blue !important;
          }
  
        }
        .btn[title="Move to Folder"].btn-category-picker {
          img {
            content: url("@{iconurl}24-mail-move.svg");
          } }
        .btn[title="Apply Label"].btn-category-picker {
          img {
            content: url("@{iconurl}24-tag.svg");
          } }
        .btn[title="Mark as Read"] {
          img {
            content: url("@{iconurl}24-mail-mark-read.svg");
          } }
        .btn[title="Mark as Unread"] {
          img {
            content: url("@{iconurl}24-mail-mark-unread.svg");
          } }
        .btn[title="Star"] {
          img {
            content: url("@{iconurl}24-star-on.svg");
          } }
        .btn[title="Unstar"] {
          img {
            content: url("@{iconurl}24-star-off.svg");
          } }
        .btn[title="Move to Trash"] {
          img {
            content: url("@{iconurl}24-user-trash.svg");
          } }
        .btn[title="Mark as Spam"] {
          img {
            content: url("@{iconurl}24-mail-mark-junk.svg");
          } }
        .btn[title="Not Spam"] {
          img {
            content: url("@{iconurl}24-mail-mark-notjunk.svg");
          } }
        .btn[title="Archive"] {
          img {
            content: url("@{iconurl}24-mail-archive.svg");
          }
         }
}}}
//}


.btn.btn-emphasis {
  background-color: @accent-accent !important;
  border-color: @accent-accent !important;
  color: @white !important;

  img.content-mask {
    background-color: @white !important;
  }
}

.button-dropdown.bordered {
  .primary-item {
    box-shadow: none !important;
    background: @white !important;
    border: 1px solid @breeze-blue !important;
    border-top-left-radius: @base-border-radius !important;
    border-bottom-left-radius: @base-border-radius !important;
    img {
      position: relative;
      top: -2px;
    }
  }

  .secondary-picker {
    box-shadow: none !important;
    background: @white !important;
    border: 1px solid @breeze-blue !important;
    border-top-right-radius: @base-border-radius !important;
    border-bottom-right-radius: @base-border-radius !important;
    margin-left: -1px !important;
  }

  .secondary-items {
    .item {
      color: @accent-light !important;
      .search-match {
        background: @white !important;
      }
      .button-dropdown {
        img {
          background: @accent-light !important;
        }
      }
    }
  }
}

/**
 * Dropdown
 */
.menu {
  .item.selected {
    color: @white !important;
    .primary {
      color: @white !important;
    }
    .secondary {
      color: @accent-lighter !important;
    }
  }
  &.search-container {
    .item {
      background: @white !important;
    }
    .item.selected {
      background: @accent-light !important;
      color: @white !important;
    }
  }
}

/**
 * Plugin page
 */
.package {
  border-radius: @base-border-radius;
}

/**
 * Prefs page
 */
.appearance-mode {
  &.active {
    background-color: lighten(@accent-light, 30%) !important;
  }
}
