@import "ui-variables";


.scrollbar-track {
  position: relative;
  opacity: 0;
  padding: 0px !important;
  width: 8px !important;
  border-left: 0 !important;
  .scrollbar-track-inner {
  .scrollbar-handle {
    background-color: @accent-dark !important;
    border: 0px !important;
    border-radius: 7px !important;
    width: 90% !important;
  } } }