@import 'variables';

.list-tabular .list-column.list-column-Item {
  margin-left: -20px;
  padding-left: 30px;
}

// color of search box text preview
.thread-search-bar.placeholder .tokenizing-contenteditable .layer-tokens {
    color: #8c8e8f;
}
// color of the search box when typing (doesn ot seem to work)
thread-search-bar.tokenizing-contenteditable .layer-tokens {
  color: @black;
}


  
.thread-list {
  .list-container {
    .list-item {
      &.focused:hover .list-column-HoverActions .inner {
        color: @accent-dark !important;
        background-image: linear-gradient(
          90deg,
          fadeout(@accent-lighter, 100%) 0%,
          darken(@accent-lighter, 10%) 100%
        );
        .action {
          filter: none;
        }
        .thread-icon {
          &:not(.thread-icon-star) {
            opacity: 0.7;
          }
        }
      }
      &.focused {
        border-bottom: 0;
        .thread-icon,
        .mail-important-icon,
        .draft-icon {
          filter: none;
        }
      }
      &:hover {
        .thread-icon {
          visibility: inherit;
        }
      }
      .list-column {
        border-bottom: 0 !important;
      }
    }
    .scroll-region-content .scroll-region-content-inner .list-rows {
      .list-item {
        cursor: pointer !important;
        box-sizing: border-box;
        background-color: @white !important;
        color: @accent-dark !important;
        &.focused {
          color: @accent-dark !important;
          background-color: darken(@accent-lighter, 5%) !important;
        }
        &.selected {
          color: @accent-dark !important;
          background-color: darken(@accent-lighter, 5%) !important;
        }
      }
    }
  }
  .thread-icon {
    background-image: url(../static/images/thread-list/icon-star-hover-@2x.png);
    &:not(.thread-icon-star) {
      visibility: hidden;
    }
  }
}

.is-blurred {
  .thread-list .list-container .list-item.focused {
    border-bottom: 0;
  }
}


.suggestions {
  //left: 0;
  //color: #ffff0f !important;
  //top: 23px;
  //width: 100%;
  //position: absolute;
  //background: @input-bg;
  //border-bottom-left-radius: @border-radius-base;
  //border-bottom-right-radius: @border-radius-base;
  //box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15), 0 -0.5px 0 rgba(0, 0, 0, 0.15),
   // 0.5px 0 0 rgba(0, 0, 0, 0.15), -0.5px 0 0 rgba(0, 0, 0, 0.15), 0 4px 7px rgba(0, 0, 0, 0.15);

  //padding-top: @padding-small-vertical;

  .suggestion {
    color: @black !important;
    //padding: @padding-small-vertical @padding-small-horizontal;

    &.selected {
      background-color:@accent-dark !important;
      color: @white !important;
      .suggestion-token {
        color:@accent-lighter !important;
      }
    }
    &:hover {
      background-color:darken(@breeze-blue,20%) !important;
    }
    &:hover:not(.selected) {
      background-color:@breeze-blue !important;
    }
    .suggestion-token {
      color:@black !important;
    }
  }
}
