/**
 * Colors
 */
 @breeze-blue: #3daee9;
 @breeze-link: #d11ce2;
 @white: #fafafa;
 @black: #000000;
 @breeze-blue-darker:darken(@breeze-blue,20%);
 @breeze-blue-lighter:lighten(@breeze-blue,10%);
 @inactive-text: darken(@inactive-tab,20%);
 
@accent-lighter: lighten(#49b1e8, 20%);
@accent-light: #000000; //text of folder list
@accent-accent:@breeze-blue; //selected folder background
@inactive-tab: #cdcfd0;
@scrollbar-background:#cdcfd0;// #a9a9a9;
@panel-background: #eff0f1;
@accent-dark: #6d7070;

@baseurl: "mailspring://";
@myurl: "breeze-light/";
@iconurl: "@{baseurl}@{myurl}icons/";

/**
 * Borders
 */
@base-border-radius: 4px;
