/**
 * Colors
 */
 @breeze-blue: #3daee9;
 @breeze-link: #d11ce2;
 @white: #fafafa;
 @black: #000000;
 @breeze-blue-darker:darken(@breeze-blue,20%);
 @inactive-text: darken(@inactive-tab,20%);
 
@accent-lighter: lighten(#49b1e8, 20%);
@accent-light: #000000; //text of folder list
@accent-accent:@breeze-blue; //selected folder background
@inactive-tab: #cdcfd0;
@panel-background: #eff0f1;
@accent-dark: #6d7070;


/**
 * Borders
 */
@base-border-radius: 4px;
